.styled-border {
  position: relative;
  border: 2rem solid #111827;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  overflow: hidden;
}

.button-border {
  border: 2px solid #111827;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.loader {
  border: 4px solid white;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%,
  100% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 1);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideRightTwo {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

.highlight {
  animation: flash 1s infinite;
}

.cardSlideOne {
  animation: slideRight 0.5s ease;
}

.cardSlideTwo {
  animation: slideRightTwo 0.5s ease;
}

.slider {
  -webkit-appearance: none;
  width: 35rem;
  height: 15px;
  background: red;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 45px;
  background: #111827;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 0.1);
}

.slider::-moz-range-thumb {
  width: 17px;
  height: 40px;
  background: #111827;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 0.1);
}

.cardContainer {
  position: relative;
  width: 4.5rem;
  height: 6rem;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}

.chip {
  transition: top 1s ease, left 1s ease;
}
